In [1]:
import sys
sys.path.append('./examples')

import create_discrete_2groups
import create_discrete_multiple
import create_binary_agg_2groups
import create_binary_agg_multiple

print("Sample data generated successfully!")
print("Files created:")
print("- examples/discrete_2groups.csv")
print("- examples/discrete_multiple.csv") 
print("- examples/binary_agg_2groups.csv")
print("- examples/binary_agg_multiple.csv")

Created discrete_2groups.csv with 20000 rows
       count    mean       std
group
A      10000  0.9945  0.993966
B      10000  1.0986  1.050613
Created discrete_multiple.csv with 50000 rows
       count    mean       std
group
A      10000  2.0064  1.405403
B      10000  2.0941  1.450950
C      10000  2.2100  1.487253
D      10000  2.2822  1.494117
E      10000  2.0265  1.439724
Created binary_agg_2groups.csv with 2 rows
Conversion rates by group:
Group A: 10.00% (120/1200)
Group B: 13.00% (143/1100)
Created binary_agg_multiple.csv with 5 rows
Conversion rates by group:
Group A: 10.00% (120/1200)
Group B: 11.00% (110/1000)
Group C: 12.00% (96/800)
Group D: 13.00% (143/1100)
Group E: 10.00% (90/900)
Sample data generated successfully!
Files created:
- examples/discrete_2groups.csv
- examples/discrete_multiple.csv
- examples/binary_agg_2groups.csv
- examples/binary_agg_multiple.csv

In [2]:

import pandas as pd
import numpy as np
import sys
sys.path.append('./dgab') 

discrete_2 = pd.read_csv('discrete_2groups.csv')
discrete_multi = pd.read_csv('discrete_multiple.csv') 
binary_2 = pd.read_csv('binary_agg_2groups.csv')
binary_multi = pd.read_csv('binary_agg_multiple.csv')

In [3]:
display(discrete_2)
display(discrete_multi)
display(binary_2)
display(binary_multi)

      group  launches
0         A         1
1         A         2
2         A         0
3         A         0
4         A         3
...     ...       ...
19995     B         2
19996     B         1
19997     B         1
19998     B         1
19999     B         0

[20000 rows x 2 columns]

      group  clicks
0         A       4
1         A       1
2         A       3
3         A       3
4         A       1
...     ...     ...
49995     E       0
49996     E       1
49997     E       1
49998     E       2
49999     E       1

[50000 rows x 2 columns]

  group  users  conversions
0     A   1200          120
1     B   1100          143

  group  users  conversions
0     A   1200          120
1     B   1000          110
2     C    800           96
3     D   1100          143
4     E    900           90

In [4]:
import dgab.core as dgab

result = dgab.analyze(
    dataframe=discrete_2,
    #dataframe=discrete_multi,
    data_type='discrete', 
    group_col='group',
    metric_col='launches',
    #metric_col='clicks',
    statistic='mean',
    significance_level=0.01
)

Тип данных: дискретные
Статистика: mean
Групп: 2
Значимость: 0.01
Зависимость выборок: независимые
Колонка с идентификатором групп: group
Колонка с метрикой: launches
Названия групп: ['A', 'B']
Тест: T-тест Уэлча
Доверительный интервал для mean: T-распределение
Доверительный интервал для differences: Уэлча

Статистика по группам. Доверительный интервал для mean: 0.99

  group  count    mean                ci
0     A  10000  0.9945  [0.9689, 1.0201]
1     B  10000  1.0986  [1.0715, 1.1257]

Результаты статистических тестов:

Попарные сравнения:

,group1,group1_count,group2,group2_count,statistic,pvalue,significant
0,A,10000,B,10000,-7.197723,6.340000e-13,True

Сводная таблица результатов. Доверительные интервалы: 0.99

,group1,group1_count,group1_mean,group1_ci,group2,group2_count,group2_mean,group2_ci,abs_difference,abs_difference_ci,comparison_result,pvalue,corrected_pvalue,significant
0,A,10000,0.9945,"[0.9689, 1.0201]",B,10000,1.0986,"[1.0715, 1.1257]",0.1041,"[0.0668, 0.1414]",B>A,6.340000e-13,None,True

In [5]:
result = dgab.analyze(
    dataframe=discrete_multi,
    data_type='discrete', 
    group_col='group',
    metric_col='clicks',
    statistic='mean',
    significance_level=0.01
)

Тип данных: дискретные
Статистика: mean
Групп: 5
Значимость: 0.01
Зависимость выборок: независимые
Колонка с идентификатором групп: group
Колонка с метрикой: clicks
Названия групп: ['A', 'B', 'C', 'D', 'E']
Общий тест: ANOVA
Тесты для попарных сравнений: T-тест Уэлча
Коррекция: Бонферрони
Доверительный интервал для mean: T-распределение
Доверительный интервал для differences: Уэлча

Статистика по группам. Доверительный интервал для mean: 0.99

  group  count    mean                ci
0     A  10000  2.0064  [1.9702, 2.0426]
1     B  10000  2.0941  [2.0567, 2.1315]
2     C  10000  2.2100  [2.1717, 2.2483]
3     D  10000  2.2822  [2.2437, 2.3207]
4     E  10000  2.0265  [1.9894, 2.0636]

Результаты статистических тестов:

Общий тест: anova
Статистика: 66.8235
P-value: 0.000000
Значимый: Да

Попарные сравнения:

,group1,group1_count,group2,group2_count,statistic,pvalue,corrected_pvalue,significant
0,A,10000,B,10000,-4.341578,1.421590e-05,1.421590e-04,True
1,A,10000,C,10000,-9.949981,2.858097e-23,2.858097e-22,True
2,A,10000,D,10000,-13.445594,4.934436e-41,4.934436e-40,True
3,A,10000,E,10000,-0.999028,3.177930e-01,1.000000e+00,False
4,B,10000,C,10000,-5.578064,2.463591e-08,2.463591e-07,True
5,B,10000,D,10000,-9.031543,1.842943e-19,1.842943e-18,True
6,B,10000,E,10000,3.307191,9.440264e-04,9.440264e-03,True
7,C,10000,D,10000,-3.424799,6.164884e-04,6.164884e-03,True
8,C,10000,E,10000,8.864914,8.285999e-19,8.285999e-18,True
9,D,10000,E,10000,12.323512,9.054586e-35,9.054586e-34,True

Сводная таблица результатов. Доверительные интервалы: 0.99

,group1,group1_count,group1_mean,group1_ci,group2,group2_count,group2_mean,group2_ci,abs_difference,abs_difference_ci,comparison_result,pvalue,corrected_pvalue,significant
0,A,10000,2.0064,"[1.9702, 2.0426]",B,10000,2.0941,"[2.0567, 2.1315]",0.0877,"[0.0357, 0.1397]",B>A,1.421590e-05,1.421590e-04,True
1,A,10000,2.0064,"[1.9702, 2.0426]",C,10000,2.2100,"[2.1717, 2.2483]",0.2036,"[0.1509, 0.2563]",C>A,2.858097e-23,2.858097e-22,True
2,A,10000,2.0064,"[1.9702, 2.0426]",D,10000,2.2822,"[2.2437, 2.3207]",0.2758,"[0.223, 0.3286]",D>A,4.934436e-41,4.934436e-40,True
3,A,10000,2.0064,"[1.9702, 2.0426]",E,10000,2.0265,"[1.9894, 2.0636]",0.0201,"[0.0317, 0.0719]",E>A,3.177930e-01,1.000000e+00,False
4,B,10000,2.0941,"[2.0567, 2.1315]",C,10000,2.2100,"[2.1717, 2.2483]",0.1159,"[0.0624, 0.1694]",C>B,2.463591e-08,2.463591e-07,True
5,B,10000,2.0941,"[2.0567, 2.1315]",D,10000,2.2822,"[2.2437, 2.3207]",0.1881,"[0.1344, 0.2418]",D>B,1.842943e-19,1.842943e-18,True
6,B,10000,2.0941,"[2.0567, 2.1315]",E,10000,2.0265,"[1.9894, 2.0636]",0.0676,"[0.0149, 0.1203]",B>E,9.440264e-04,9.440264e-03,True
7,C,10000,2.2100,"[2.1717, 2.2483]",D,10000,2.2822,"[2.2437, 2.3207]",0.0722,"[0.0179, 0.1265]",D>C,6.164884e-04,6.164884e-03,True
8,C,10000,2.2100,"[2.1717, 2.2483]",E,10000,2.0265,"[1.9894, 2.0636]",0.1835,"[0.1302, 0.2368]",C>E,8.285999e-19,8.285999e-18,True
9,D,10000,2.2822,"[2.2437, 2.3207]",E,10000,2.0265,"[1.9894, 2.0636]",0.2557,"[0.2022, 0.3092]",D>E,9.054586e-35,9.054586e-34,True