In [1]:
import sys
sys.path.append('./examples')

import create_discrete_2groups
import create_discrete_multiple
import create_binary_agg_2groups
import create_binary_agg_multiple

print("Sample data generated successfully!")
print("Files created:")
print("- examples/discrete_2groups.csv")
print("- examples/discrete_multiple.csv") 
print("- examples/binary_agg_2groups.csv")
print("- examples/binary_agg_multiple.csv")

Created discrete_2groups.csv with 20000 rows
       count    mean       std
group
A      10000  0.9945  0.993966
B      10000  1.0986  1.050613
Created discrete_multiple.csv with 50000 rows
       count    mean       std
group
A      10000  2.0064  1.405403
B      10000  2.0941  1.450950
C      10000  2.2100  1.487253
D      10000  2.2822  1.494117
E      10000  2.0265  1.439724
Created binary_agg_2groups.csv with 2 rows
Conversion rates by group:
Group A: 10.00% (120/1200)
Group B: 13.00% (143/1100)
Created binary_agg_multiple.csv with 5 rows
Conversion rates by group:
Group A: 10.00% (120/1200)
Group B: 11.00% (110/1000)
Group C: 12.00% (96/800)
Group D: 13.00% (143/1100)
Group E: 10.00% (90/900)
Sample data generated successfully!
Files created:
- examples/discrete_2groups.csv
- examples/discrete_multiple.csv
- examples/binary_agg_2groups.csv
- examples/binary_agg_multiple.csv

In [2]:

import pandas as pd
import numpy as np
import sys
sys.path.append('./dgab') 

discrete_2 = pd.read_csv('examples/discrete_2groups.csv')
discrete_multi = pd.read_csv('examples/discrete_multiple.csv') 
binary_2 = pd.read_csv('examples/binary_agg_2groups.csv')
binary_multi = pd.read_csv('examples/binary_agg_multiple.csv')

In [3]:
display(discrete_2)
display(discrete_multi)
display(binary_2)
display(binary_multi)

      group  launches
0         A         1
1         A         2
2         A         0
3         A         0
4         A         3
...     ...       ...
19995     B         2
19996     B         1
19997     B         1
19998     B         1
19999     B         0

[20000 rows x 2 columns]

      group  clicks
0         A       4
1         A       1
2         A       3
3         A       3
4         A       1
...     ...     ...
49995     E       0
49996     E       1
49997     E       1
49998     E       2
49999     E       1

[50000 rows x 2 columns]

  group  users  conversions
0     A   1200          120
1     B   1100          143

  group  users  conversions
0     A   1200          120
1     B   1000          110
2     C    800           96
3     D   1100          143
4     E    900           90

In [4]:
import dgab.core as dgab

result = dgab.analyze(
    dataframe=discrete_2,
    data_type='discrete', 
    group_col='group',
    metric_col='launches',
    significance_level=0.01
)

print("Config echo test:")
print(result)

Тип данных: дискретные
Групп: 2
Значимость: 0.01
Зависимость выборок: независимые
Колонка с идентификатором групп: group
Колонка с метрикой: launches
Названия групп: ['A', 'B']
Тест: T-тест Уэлча
Метод доверительного интервала: доверительный интервал для разности средних (Уэлч)

Config echo test:
{'unique_grps_cnt': 2, 'test_config': {'test_name': 'welch_ttest', 'omnibus_test': None, 'multiple_comparison_correction': None, 'custom_config_required': False, 'confint_method': 'welch_ci', 'confint_params': {'use_t': True, 'equal_var': False}}}